.lateral {
    display: flex;
    flex-direction: column;
    align-items: end; /* Alinea las cajas al final del contenedor */
    position: fixed;
    right: 0;
    top: 40%;
    gap: 3px;
    z-index: 6;

    svg {
        fill: #ffffff;
        height: 25px;
        width: 25px;
    }

    .caja {
        height: 60px;
        width: 60px;
        background-color: #e0041d;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        transition: width 0.3s;
        cursor: pointer;
        box-shadow: 1px 1px 5px;

        &:hover {
            width: 68px; /* Ancho deseado en hover */
        }
    }
}