.red {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 511px;
    background-color: #e0011a;
    margin-bottom: 125px;

    .lista {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        
        .personas{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 370px;
            height: 280px;
            color: #ffffff;
            cursor: grab;
            
            img {
                border-radius: 50%;
            }

            blockquote {
                padding: 30px 20px;
                font-size: 22px;
                text-align: center;
            }

            .nombre{
                font-weight: bold;
                font-size: 13px;
                letter-spacing: 2px;
                margin-bottom: 5px;
            }

            .expert{
                font-size: 13px;
                color: #ddd;
            }
        }
    }
}
